html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'AvertaRegular', sans-serif;
    font-size: rem(16);
    color: #130033;
    font-style: normal;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
}

.df-grey-bg {
    background: linear-gradient(180deg, rgba(217, 223, 230, 0.2) 0%, rgba(217, 223, 230, 0) 100%);
}