@font-face {
	font-family: 'AvertaBold';
	src: url('/fonts/averta/AvertaBold.eot');
	src: local('☺'), url('/fonts/averta/AvertaBold.woff') format('woff'), url('/fonts/averta/AvertaBold.ttf') format('truetype'), url('/fonts/averta/AvertaBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvertaRegular';
	src: url('/fonts/averta/AvertaRegular.eot');
	src: local('☺'), url('/fonts/averta/AvertaRegular.woff') format('woff'), url('/fonts/averta/AvertaRegular.ttf') format('truetype'), url('/fonts/averta/AvertaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}