$baseColor: #5E00D7;
$blueColor: #0084FF;
$redColor: #F70D0D;

// variables for mobile breakpoint
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 576px;
$tablet: 768px;
$tabletL: 992px;
$laptop: 1024px;
$laptopL: 1200px;
$desktop: 1440px;

$media-mobileS: '(min-width: '$mobileS')';
$media-mobileM: '(min-width: '$mobileM')';
$media-mobileL: '(min-width: '$mobileL')';
$media-tablet: '(min-width: '$tablet')';
$media-tabletL: '(min-width: '$tabletL')';
$media-laptop: '(min-width: '$laptop')';
$media-laptopL: '(min-width: '$laptopL')';
$media-desktop: '(min-width: '$desktop')';