.df-page-welcome {
    padding: 30px 0;

    .df-page-title {
        @include margin($bottom: 8px);
        @include margin($media: $media-tablet,$bottom: 24px);
    }

    .df-page-subtitle {
        @include margin($bottom: 8px);
    }

    .df-page-description {
        @include margin($bottom: 24px);
        @include margin($media: $media-tablet, $bottom: 32px);
        max-width: 800px;

        @include tablet {
            text-align: center;
        }
    }
}

.df-steps-nav {
    @include margin($top: 16px, $bottom: 32px);
    @include margin($media: $media-tablet, $top: 32px, $bottom: 40px);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: calc(100% - 120px);
        height: 2px;
        background: #c4c4c4;
        top: 7px;
        bottom: 0;
        left: 65px;

        @include mobileM {
            width: calc(100% - 140px);
            left: 78px;
        }
    }

    &.df-pass-first-step,
    &.df-pass-second-step {
        &:after {
            content: '';
            position: absolute;
            background: $baseColor;
            height: 2px;
            top: 7px;
            bottom: 0;
            left: 78px; 
        }
    }

    &.df-pass-first-step {

        &:after {
            width: calc(50% - 70px);
        }
    }

    &.df-pass-second-step {

        &:after {
            width: calc(100% - 120px);
            left: 65px;

            @include mobileM {
                width: calc(100% - 140px);
                left: 78px;
            }
        }
    }

    .df-steps-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        max-width: 115px;

        @include tablet {
            max-width: 100%;
        }

        &.df-active {
    
            .df-steps-title {
                color: $baseColor;
            }
    
            .df-steps-point {
                background: $baseColor;
            }
        }

        &.df-current {

            .df-steps-point {
                
                &:after {
                    content: '';
                    position: absolute;
                    background: url('/svg/currentStep.svg') no-repeat;
                    bottom: -10px;
                    height: 6px;
                    width: 8px;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
    }

    .df-steps-title {
        color: #c4c4c4;
        font-size: rem(14);
        line-height: rem(16);
        text-transform: uppercase;
        letter-spacing: rem(1.34);
        text-align: center;
        margin-top: 15px;

        @include tablet {
            text-align: left;
        }
    }

    .df-steps-point {
        background: #c4c4c4;
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        position: relative;
    }
}

.df-order-points {
    flex-direction: column;
    margin-bottom: 24px;

    @include tablet {
        flex-direction: row;
        margin-bottom: 16px;
    }
}

.df-list-essential-fiber {

    .df-list-item {
        max-width: 640px;
        position: relative;
        padding-left: 34px;
        margin-bottom: 30px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            background: url('/svg/listItem.svg') no-repeat;
            height: 18px;
            width: 18px;
        }
    }
}

.df-text-block {
    max-width: 510px;
    flex-direction: column;
    text-align: center;

    h5 {
        margin-bottom: 15px;
    }

    h4 {
        margin-top: 20px;
    }
}

.df-offer-text {
    opacity: 0.6;

    h5 {
        margin: auto;
    }
}

.df-unsbscribe {
    font-size: rem(16);
    line-height: rem(20);
    color: $baseColor;
    display: block;
    margin: auto;
}

.df-product-list {
   
    .df-product-item {

    }
}